<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<main ng-controller="mainController as main">
	
	<section>
		<h1>hello</h1>
		<div ng-hide="main.isLoggedIn">You are browsing as a guest</div>
		<div ng-show="main.isLoggedIn">
			<span>Welcome back</span>
			<span ng-if="main.userDetails">{{ main.userDetails.uid }}</span>
		</div>
	</section>

	<section ng-hide="main.isLoggedIn">
		<h2>log in</h2>
		<div ng-click="main.signIn()">Sign in</div>
	</section>

	<section ng-show="main.isLoggedIn">
		<h2>log out</h2>
		<div ng-click="main.signOut()">Sign out</div>
	</section>

</main>


<script type="text/javascript" src="../jspm_packages/system.js"></script>
<script type="text/javascript" src="../config.js"></script>
<script type="text/javascript">
	System.import("js/src/main.js").then(function(){
		angular.element(document).ready(function(){
			angular.bootstrap( document, [ "angularfireApp" ]);
		});
	});

</script>
</body>
</html>